# Predicting house prices for a real estate firm

In [1]:
#Using jupyte rfor data analysis only
import pandas as pd

In [2]:
housing = pd.read_csv("data.csv")

In [3]:
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTEATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTEATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.4 KB

In [5]:
housing.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTEATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [6]:
%matplotlib inline

In [7]:
import matplotlib.pyplot as plt

# Train Test Splittling

In [8]:
#for learning purpose actually available in scikit learn
import numpy as np
def split_train_test(data,test_set_ratio):
    shuffled = np.random.permutation(len(data))
    print(shuffled)
    test_set_size = int(len(data)*test_set_ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [9]:
train_set , test_set = split_train_test(housing,0.2)

[205   1 487 252 383  86 192 461 228 243  68 458 296 306 426  95  97 111
 474  81 253 269 147 119 356 329  50 454  58 143   8 382 505 249 211  43
 396  53 425  11 196 209 357 439  71 180 421 449 115 132 413  56 427  61
 335  21 148  34  64 182 131 276 469  90 455 448 430 467 266 319 213 302
 261 353 316 491 186  85 435 429  55 346  69 370 149  60 453  49  25 259
 190  73 391 215 394  37 197 139 133 504 372 324 161 279 144 105 344 189
 477 470 227  70 142 402 342 398 268 386 390 311 387 118 181 355 221 378
 262 277  52 121 223 247 397 110 172  66 163  18 242 495 358  83  57  44
 432 284 332 140 445 327 287 100  39 405 363 354 203 293 145  17 272 178
 282 169 225 440 323 298 488 318  16 300 106  99 129   5 218 112   0 136
 257 164 229 408 292 371 337 301 349  36 270 415 489 158  88 174 151 219
 175 179 288 160 428 471 264 204  98 162 443 166 484 265 120 400 103 331
 109 294  23 281 315 167 201   7 206 444 230  75 251 418 185 377 165  27
 423 195 416 361 479 122 141 256 480 137  22 104 138 313 420  32   4  40
 431 314  47 194  14 317 498 235 267 245 238 447 456 187 490 289  38 322
 117 222 250 460  63  62 173 309 325 501 486 114 392 248 171 237 338 304
 128 170  77 312 419 254 414  26 310 246 464 326 198  54 183 303 127 388
  28 393 155 273 497 231  94  84 502 369 401 157 384 299 376 333  48 184
 365  76 446  92 463 113 343  89  45 500  29 295 188 465 374 168 107 366
 263 241 202 328 462 482 341 407 503 126 412 483 457  93 212 367  72 350
 297   2 321 406 220 226  82 403 153 130 330 351  96 345  12 438 208 472
 156 210  24  19 240 320  79  20 395   9 451 476  87 260  91 116 290  78
 485 278 409  33 124 255 134 236 499 234 191 340 410 493 274 481 177 307
 424 389 494 334 286 271 381 379 478 434 360 475 348 135 291 305  67 200
 217 339  30  59 258 308 275  42 450 459 199  46 154 422 473 496 207 468
  51 244  41 437 239 373 176 125 101 368 285 411 102 347 404 193  13 492
 216 280 364 232 466 442  31  65  15 214 362 108   3 433 380 283  80 375
 146 352   6 159 224 417 452 399 152 441 385 233  74  35 336 436 123 150
 359  10]

In [10]:
print(f"Rows in train set:{len(train_set)}\n Rows in test set: {len(test_set)}" )

Rows in train set:405
 Rows in test set: 101

# Using Scikit learn

In [11]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(housing, test_size = 0.2, random_state=42)
print(f"Rows in train set:{len(train_set)}\n Rows in test set: {len(test_set)}" )

Rows in train set:404
 Rows in test set: 102