# Predicting house prices for a real estate firm

In [1]:
#Using jupyte rfor data analysis only
import pandas as pd

In [2]:
housing = pd.read_csv("data.csv")

In [3]:
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTEATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTEATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [5]:
housing.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTEATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [6]:
%matplotlib inline

In [7]:
import matplotlib.pyplot as plt

# Train Test Splittling

In [8]:
#for learning purpose actually available in scikit learn
import numpy as np
def split_train_test(data,test_set_ratio):
    shuffled = np.random.permutation(len(data))
    print(shuffled)
    test_set_size = int(len(data)*test_set_ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [9]:
train_set , test_set = split_train_test(housing,0.2)

[224 233 319 412 214 127 305 227 131  58  38 273 124  31 198 428 183 482
 177 408 107 236 215  97  10 128 444 312 472 120  59 118 302  22 473 321
 330 396 244 410  50 255 420 439 426 413  33  74 326 249 347 333 143 192
  69 405 257 466 349 454 199  48  60 496 154 289 295 175  85 362 436  25
 491 398 216   5 338 297 501 325 247 152 275 399 206 263 266  86 187 156
 121 318 377 300  72  53 433 229  35 314 486 363 167 381 497 253  70 355
 359 222 458  54 453 232 320 388 296 265 378 376 151 315 430  36 350 459
 103 418 171  42 322 239 456 397 292  91 336 317 407 294 375  67 483 485
 162  49 158  18 220 392 272 389 208 343 441 144  29  34 452 401 404 193
 137 449 245  80 478 393 146 415 400 445 462  93 196  77  44 391 394 434
 328 178 159 142 369 492 313 248 238 170   1 488 202  81 108 468 411 283
 261 477 133  11 194 372 218  87  71 290 115  66 429 205 432 346 180 149
 200 189 186 223  41 451 484 160 409  15 505 138 356 256 365 231 213 339
 271 422 268 278 465 358 157 438 299 504 165 139  47 403 259 380 455 481
 327 260  46 130 502  37 301 345 106 448 181  75 123 316 310 111 251 306
 197  95 134 435 147 352   7 457   2 168  13 204 307 427  26 475 287 490
 122 230 489  65 141 387 498 447  27  52 109   4 264  96  20 153 395 464
 282   0 366 113 442 212 364 254 164  55 390  56   8 270   9 480  28 101
 182 431 476 203 470 332 340 460 373 241  84 368 334 424 342 361 303 140
  83 176  17  45  76 474 126 185 246  92 274 219 419 150 132 209 384  68
 494 357  63 337  99 252 402 370 341  61 479 354  43   6 495 105 383 371
 225  78 125 100 116 226 304  82 243 423 234 174 277 119 269 235 195 311
 461  89 467   3 262  21 417 210 242 440 148 353  73 240 136 145  51 416
 161 217  19  30  88 155  90 207 286 469 201 104 382  32 112  62 188 351
  23 386 110 323 309  12  14  57  16 163 184 276 379 258 385 129 288 443
 293 285 211 280 221  79  94 493 437 503  40  24 281 500 237 172 463 190
 298  39 191 335 360 250 284  98 117 348 471 291 179 487 367 267 446 421
 406 279 173 169  64 324 329 114 414 374 135 450 102 166 308 499 228 425
 331 344]

In [10]:
print(f"Rows in train set:{len(train_set)}\n Rows in test set: {len(test_set)}" )

Rows in train set:405
 Rows in test set: 101

# Using Scikit learn

In [11]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(housing, test_size = 0.2, random_state=42)
print(f"Rows in train set:{len(train_set)}\n Rows in test set: {len(test_set)}" )

Rows in train set:404
 Rows in test set: 102

In [12]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.2, random_state = 42)
for train_index, test_index in split.split(housing, housing['CHAS']):
    strat_train_set = housing.loc[train_index]
    strat_test_set = housing.loc[test_index]

In [13]:
strat_test_set['CHAS'].value_counts()

0    95
1     7
Name: CHAS, dtype: int64

# #Looking for correlations

In [14]:
corr_matrix = housing.corr() #data frame of pandas

In [15]:
corr_matrix['MEDV'].sort_values(ascending = False)

MEDV       1.000000
RM         0.695360
ZN         0.360445
B          0.333461
DIS        0.249929
CHAS       0.175260
AGE       -0.376955
RAD       -0.381626
CRIM      -0.388305
NOX       -0.427321
TAX       -0.468536
INDUS     -0.483725
PTEATIO   -0.507787
LSTAT     -0.737663
Name: MEDV, dtype: float64

In [ ]:
# 1.0000000 means strong correlation

In [ ]:
from pandas.plotting import scatter_matrix