# Predicting house prices for a real estate firm

In [1]:
#Using jupyte rfor data analysis only
import pandas as pd

In [2]:
housing = pd.read_csv("data.csv")

In [3]:
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTEATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTEATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.4 KB

In [5]:
housing.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTEATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [6]:
%matplotlib inline

In [7]:
import matplotlib.pyplot as plt

# Train Test Splittling

In [8]:
#for learning purpose actually available in scikit learn
import numpy as np
def split_train_test(data,test_set_ratio):
    shuffled = np.random.permutation(len(data))
    print(shuffled)
    test_set_size = int(len(data)*test_set_ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [9]:
train_set , test_set = split_train_test(housing,0.2)

[275 378 207 410  85 361  42 355 155 456  47 198 101 399 480 295  98 409
 102 150 112 430 287 318 227  82 137  58 402   5 142 348  16 488 254 125
 483 403 302 138 133  11 390  81  59 412 243 289  89 204 132  50 231 168
 499 110 192 351 158 312 405  20  25 156 372 307 173  45 221  13 269 226
 220 340 140 113 145 179 214 330  27 434  80 389  41 130 201  33 239 256
  15 178 280 370 442 359 373  35  73 148  21 334 284 401 208 189 422 498
 249  29 418  54 379 471 303 211 444 171 135 153 375 451 271 323 485 274
 479 209 119 327  38 458 281  63 277  52 161 278  49  92  60 462 321 433
 450 245 382 421 263 144 210 345 202 473 413 325 236  66  87 328  78 104
 490  65 141 467 234   2 120 366 240 232  95 469 486 146 152  69 163  28
 265 417 203 331 114 423 169 452 342 260  74 317 195 470 472 395  99 368
 184  83  19 406  17   3 341 259 404 121  40 197 177 252 356  67 459  86
  68 445 482 176 349 497 387 394  46 124 151 218 322  55 127 250 118  84
 157 305 186 272 304 212 123  76 164 225 308 200 106 385 310 159 172 185
 105  32 343 397 493 474 268 484 416 213 205 147 246 468 117 347 478 443
 233 251 346 297 329 261   9 319 475 293 338 465  71 429 181 217  77 222
 183  88 235 257 477   1 487 494 190 454 441 400 415 300 247 357 335 501
 103 175 446  93 191 431  37  56  70 426  43 292  51 500 354 411 333 238
  34  96  91 299 407 288 219  36 279 386 244  79 435 264 504 258 350 437
 298 215 136 282 313 369 476 495 229 314 489 425 320 253   0 162 228 332
 100 352 502  97 108 311 241 393  30  53 154 223 460 447 453 383 398 309
  10  39 353 436 131 262 276 188 337 294 466 376 414  24 115 193 206 381
 174 126  31 286 242 128 377 505 455 440 439 326 503  12 492 216 196 285
   8 424 463 374  57 438 237 344 316 306 248 384 408  14 301 392  18  44
  22 107 167 255 360 116 166 358 419 296  90  75 428  94  61 491 396  62
 457 122 273 180 187 364 170 324 461 363 143 290 336 160 111 283 199 149
  26 224  23 432 380 165 371 449 496 391  72 315 129   6 109 291 427 481
   7 448 267 464  64 134 230 194 365 182 139 266 420 339 270 367 362   4
 388  48]

In [10]:
print(f"Rows in train set:{len(train_set)}\n Rows in test set: {len(test_set)}" )

Rows in train set:405
 Rows in test set: 101

# Using Scikit learn

In [11]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(housing, test_size = 0.2, random_state=42)
print(f"Rows in train set:{len(train_set)}\n Rows in test set: {len(test_set)}" )

Rows in train set:404
 Rows in test set: 102

In [12]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.2, random_state = 42)
for train_index, test_index in split.split(housing, housing['CHAS']):
    strat_train_set = housing.loc[train_index]
    strat_test_set = housing.loc[test_index]

In [15]:
strat_test_set['CHAS'].value_counts()

0    95
1     7
Name: CHAS, dtype: int64

# #Looking for correlations